@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.heading-secondary,
.feature__box1,
.feature__box2,
.feature__box3,
.service__box1,
.service__box2,
.service__box3,
.quote__image,
.quote__text,
.testimonial__1,
.testimonial__2,
.testimonial__3,
.testimonial__4,
.form {
  opacity: 0; }

.heading-secondary.animate__animated,
.feature__box1.animate__animated,
.feature__box2.animate__animated,
.feature__box3.animate__animated,
.service__box1.animate__animated,
.service__box2.animate__animated,
.service__box3.animate__animated,
.quote__image.animate__animated,
.quote__text.animate__animated,
.testimonial__1.animate__animated,
.testimonial__2.animate__animated,
.testimonial__3.animate__animated,
.testimonial__4.animate__animated,
.form.animate__animated {
  opacity: 1; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  color: #3b3b3b;
  text-align: left !important;
  line-height: 1.3; }

.heading-primary {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary {
  font-size: 4.8rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 6rem 0; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.5rem;
      padding: 3rem 0; } }

.heading-tertiary {
  font-size: 2.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.margin-bottom-huge {
  margin-bottom: 10rem; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-small {
  margin-bottom: 2.5rem; }

.u-text-center {
  text-align: center; }

.default-side-margin {
  margin: 0 12rem 0 12rem; }

.header {
  background-image: linear-gradient(to top right, rgba(141, 220, 191, 0.8), rgba(66, 202, 245, 0.8)), url("../images/hero-bg.png");
  position: relative;
  height: 95vh;
  width: 100%;
  border-radius: 0 0 250px 0;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .header {
      background-position: right;
      height: 70vh; } }
  .header__text {
    width: 50%;
    margin-left: 12rem;
    left: 0; }
    .header__text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    @media (max-width: 56.25em) {
      .header__text {
        margin-left: 6rem;
        width: 80%; } }
    .header__text__thin {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 400; }
    .header__text__para {
      width: 95%;
      margin-bottom: 4rem; }

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  border-radius: 50px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  padding: 1.5rem 5rem;
  border: none;
  animation: popup 0.8s forwards; }
  .button:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #3b3b3b; }

.hotpink-btn {
  color: #fff;
  background-color: #ff194f; }
  .hotpink-btn:hover {
    transform: scale(1.1);
    text-decoration: none;
    background-color: #fff;
    color: #ff194f; }

.outline-hotpink-btn {
  color: #ff194f;
  background-color: #fff;
  border: 2px solid #ff194f; }
  .outline-hotpink-btn:hover {
    color: #fff;
    background-color: #ff194f;
    border: 1px solid #fff; }

.feature__box {
  margin-top: 6rem; }

.feature__icon {
  display: inline-block;
  width: 6rem; }
  .feature__icon img {
    width: 100%; }

.feature__para {
  font-weight: 300; }

.service {
  background-image: linear-gradient(to top right, #ffc86b, #fda873); }
  .service__box {
    background-color: #fff;
    border-bottom-right-radius: 57px;
    padding-bottom: 4.1rem; }
    @media (max-width: 56.25em) {
      .service__box {
        margin-bottom: 5rem;
        padding: 3rem; } }
    .service__box img {
      width: 100%; }
    .service__box__text {
      margin-top: 3.2rem;
      margin-bottom: 4rem; }

.quote__text {
  background-image: linear-gradient(to top right, #8ddcbf, #42caf5);
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 6rem; }

.quote__image img {
  width: 100%; }

.testimonial__box {
  background-image: linear-gradient(110deg, #8ddcbf, #42caf5);
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
  padding: 3.4rem 4rem;
  margin-bottom: 6rem; }
  @media (max-width: 56.25em) {
    .testimonial__box {
      margin-bottom: 5rem; } }

.testimonial__text {
  color: #fff;
  margin-bottom: 3rem; }

.testimonial__client {
  position: relative; }
  .testimonial__client::after {
    content: "";
    clear: both;
    display: table; }
  .testimonial__client__image {
    overflow: hidden;
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
    float: left; }
  .testimonial__client__name {
    font-size: 2rem;
    color: #ff194f;
    text-transform: uppercase;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 6rem; }

.subscribe {
  background-color: #ff194f;
  padding: 3.1rem 0; }
  @media (max-width: 56.25em) {
    .subscribe {
      padding: 1.5rem 0;
      text-align: center; } }
  .subscribe__content {
    margin: 3rem 12rem; }
    @media (max-width: 56.25em) {
      .subscribe__content {
        margin: 0; } }
    .subscribe__content__text {
      font-size: 3rem;
      font-weight: 500;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      margin-right: 2rem;
      display: inline-block; }
      .subscribe__content__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      @media (max-width: 56.25em) {
        .subscribe__content__text {
          margin: 0;
          line-height: 1.2;
          text-align: center;
          position: relative;
          font-size: 2.7rem; } }
    .subscribe__content__input {
      margin-right: 1rem;
      height: 5.4rem;
      width: 60%; }
      @media (max-width: 56.25em) {
        .subscribe__content__input {
          width: 70%;
          margin: 2rem 0; } }

.form {
  border-radius: 57px; }
  .form__content {
    margin: 0 auto;
    padding-bottom: 3rem;
    background-image: linear-gradient(110deg, #8ddcbf, #42caf5);
    border-radius: 0 57px 0 57px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .form__input {
    height: 6rem;
    width: 80%;
    margin: 2rem auto;
    display: block;
    padding: 1.8rem; }

textarea {
  width: 80%;
  margin: 2rem auto;
  display: block;
  padding: 1.8rem; }

.navigation {
  padding: 2rem 12rem;
  z-index: 10; }
  @media (max-width: 56.25em) {
    .navigation {
      padding: 2rem 6rem; } }
  .navigation__brand {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 4rem;
    left: 10rem;
    transition: all 0.2s; }
    @media (max-width: 56.25em) {
      .navigation__brand {
        left: 8rem; } }
    .navigation__brand:hover {
      text-decoration: none;
      border-radius: 30px;
      color: #ff194f;
      text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
      transform: scale(0.9); }

.full__navigation__checkbox {
  display: none; }

.full__navigation__button {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  position: fixed;
  top: 4.2rem;
  right: 4.2rem;
  background-color: #ff194f;
  text-align: center;
  z-index: 3000;
  cursor: pointer; }

.full__navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-image: radial-gradient(#8ddcbf, #42caf5);
  z-index: 2000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.full__navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.full__navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  text-align: center;
  transform: translate(-50%, -50%); }

.full__navigation__item {
  margin: 3rem; }

.full__navigation__link:visited, .full__navigation__link:link {
  display: inline-block;
  color: #ff194f;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ff194f 50%);
  background-size: 230%;
  transition: all 0.4s; }
  .full__navigation__link:visited span, .full__navigation__link:link span {
    display: inline-block;
    margin-right: 1rem; }

.full__navigation__link:hover {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem); }

.full__navigation__checkbox:checked ~ .full__navigation__background {
  transform: scale(80); }

.full__navigation__checkbox:checked ~ .full__navigation__nav {
  width: 100%;
  opacity: 1; }

.full__navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .full__navigation__icon, .full__navigation__icon::before, .full__navigation__icon::after {
    height: 3px;
    width: 3rem;
    background-color: #fff;
    display: inline-block; }
  .full__navigation__icon::before, .full__navigation__icon::after {
    content: "";
    position: absolute;
    transition: all 0.4s; }
  .full__navigation__icon::before {
    top: -0.8rem;
    left: 0; }
  .full__navigation__icon::after {
    top: 0.8rem;
    left: 0; }

.full__navigation__button:hover .full__navigation__icon::before {
  top: -1rem;
  left: 0; }

.full__navigation__button:hover .full__navigation__icon::after {
  top: 1rem;
  left: 0; }

.full__navigation__checkbox:checked + .full__navigation__button .full__navigation__icon {
  background-color: transparent; }

.full__navigation__checkbox:checked + .full__navigation__button .full__navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.full__navigation__checkbox:checked + .full__navigation__button .full__navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  padding: 4rem 12rem;
  background-color: #3b3b3b; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 2rem 6rem; } }
  .footer__list {
    column-count: 2; }
    @media (max-width: 56.25em) {
      .footer__list {
        text-align: center; } }
  .footer__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .footer__link, .footer__link:visited, .footer__link:link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem; }

.copyright {
  text-align: right;
  font-size: 2rem;
  color: #fff; }
  @media (max-width: 56.25em) {
    .copyright {
      text-align: center;
      margin-top: 3rem; } }

.copyright__text:not(:last-child) {
  margin-bottom: 1.5rem; }

.feature {
  margin: 6rem 12rem 12rem 12rem; }
  @media (max-width: 56.25em) {
    .feature {
      margin: 6rem; } }

.service__content {
  padding: 0 12rem 10rem 12rem;
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .service__content {
      padding: 0 6rem 4rem 6rem;
      margin-bottom: 4rem; } }

.quote {
  margin: 10rem 12rem; }
  @media (max-width: 56.25em) {
    .quote {
      margin: 6rem; } }

.testimonial__content {
  margin: 0 12rem; }
  @media (max-width: 56.25em) {
    .testimonial__content {
      margin: 0 6rem; } }

.form {
  margin: 10rem 12rem; }
  @media (max-width: 56.25em) {
    .form {
      margin: 5rem 6rem; } }
