$color-grey-dark-1: #4c4c4c;
$color-grey-dark-2: #3b3b3b;

$color-primary-green: #8ddcbf;
$color-primary-skyblue: #42caf5;
$color-secondary-hotpink: #ff194f;

$color-white: #fff;
$color-black: #000;

$default-font-size: 2.5rem;
