@keyframes popup {
  0% {
    opacity: 0;

    transform: scale(0.1);
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}

// FOR ON SCROLL ANIMATION

.heading-secondary,
.feature__box1,
.feature__box2,
.feature__box3,
.service__box1,
.service__box2,
.service__box3,
.quote__image,
.quote__text,
.testimonial__1,
.testimonial__2,
.testimonial__3,
.testimonial__4,
.form,
.button {
  opacity: 0;
}

.heading-secondary.animate__animated,
.feature__box1.animate__animated,
.feature__box2.animate__animated,
.feature__box3.animate__animated,
.service__box1.animate__animated,
.service__box2.animate__animated,
.service__box3.animate__animated,
.quote__image.animate__animated,
.quote__text.animate__animated,
.testimonial__1.animate__animated,
.testimonial__2.animate__animated,
.testimonial__3.animate__animated,
.testimonial__4.animate__animated,
.form.animate__animated,
.button.animate__animated {
  opacity: 1;
}
