.margin-bottom-huge {
  margin-bottom: 10rem;
}
.margin-bottom-big {
  margin-bottom: 8rem;
}
.margin-bottom-medium {
  margin-bottom: 4rem;
}
.margin-bottom-small {
  margin-bottom: 2.5rem;
}

.u-text-center {
  text-align: center;
}

.default-side-margin {
  margin: 0 12rem 0 12rem;
}
