.footer {
  padding: 4rem 12rem;

  @include respond(tab-port) {
    padding: 2rem 6rem;
  }
  background-color: $color-grey-dark-2;

  &__list {
    column-count: 2;
    @include respond(tab-port) {
      text-align: center;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &__link {
    &,
    &:visited,
    &:link {
      text-decoration: none;
      color: $color-white;
      font-size: 2rem;
    }
  }
}
.copyright {
  text-align: right;
  font-size: 2rem;
  color: $color-white;
  @include respond(tab-port) {
    text-align: center;
    margin-top: 3rem;
  }
}

.copyright__text:not(:last-child) {
  margin-bottom: 1.5rem;
}
